* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    color: white;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    color: rgb(0, 0, 0);
    text:bold;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar h2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0;  /* GSAP will reveal this */
}

#nav {
    display: flex;
    gap: 30px;
    padding: 10px 20px;
}


#nav h4 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    opacity: 0;  /* GSAP will reveal these */
}

#nav h4:hover {
    color: #38bdf8;
}

#nav h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #38bdf8;
    transition: width 0.3s ease;
}

#nav h4:hover::after {
    width: 100%;
}